  <!--Script Section-->
  <script src="/script/app.js"></script>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
  <!--Footer Section-->
 <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar-text" href="#">©Copyright 2023. Meg.inc</a>
    </div>
  </nav>
</body>
</html>