<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
    <style>
        /* Reset default margin and padding */
body, h1, p, ul {
    margin: 0;
    padding: 0;
}

/* Add your custom styles for the About Me page here */

body {
    background-color: #FFFAFA;
    font-family: Arial, sans-serif;
    color: #333;
}

header {
    background-color: #FEF0E3;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #000;
}

.logo img {
    max-width: 5%;
    height: auto;
}

main {
    margin: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

img {
    max-width: 15%;
    height: auto;
}

p {
    margin-bottom: 20px;
}

a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FAF5EF;
    color: #333;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ddd;
}
       
    </style>
</head>
<body>
    <header>
        <nav>
            <!-- Navigation Bar -->
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Me</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contact">Contact Me</a></li>
            </ul>
            <!-- Custom Logo -->
            <div class="logo">
                <img src="/assets/images/Logo.jpg" alt="Logo">
            </div>
        </nav>
    </header>
    <main>
        <!-- Legal Name -->
        <h1>Megha Chowdary Kesineni</h1>
        <!-- Image -->
        <img src="/assets/images/profile.jpg" alt="Profile">
        <!-- Short Paragraph -->
        <p>I hold a bachelor's degree in computer science engineering, and I am currently pursuing a post-graduate diploma in Health Informatics Technology through a fast-track program at Centennial College.</p>
        <!-- Link to Resume -->
        <a href="/assets/pdf/MeghaKesineni_Resume (1).pdf"download class="a">Download Resume</a>
    </main>
    <!-- Add your footer if needed -->
    <footer style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 10px; z-index: 1;">
        <p style="margin: 0;">&copy; 2023 .Meg</p>
      </footer>
</body>
</html>
